button {
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    /* box-shadow: -1px 1px 2px #a491919c; */
    background-color: rgba(219, 218, 218, 0.901);
    /* filter: blur(0.5px); */
}


button:hover,
:focus {
    background-color: rgba(117, 117, 117, 0.775);
}

.outline {
    border: blue 1px solid;
    color: blue;
    background-color: white;
}
.text{
    border: none;
    background-color: white;
    color: blue;
}
.outline:hover,
:focus {
    background-color: rgba(145, 160, 240, 0.192);
}
.text:hover,
:focus {
    background-color: rgba(145, 160, 240, 0.192);
}